<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wz.cwolf.mapper.ChinaHolidayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wz.cwolf.entity.ChinaHoliday">
        <id column="ID" property="id" />
        <result column="HOLIDAY_DATE" property="holidayDate" />
        <result column="HOLIDAY_TYPE" property="holidayType" />
        <result column="STATUS" property="status" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="REMARK" property="remark" />
    </resultMap>
    <select id="queryChinaHolidays" resultType="com.wz.cwolf.dto.ChinaHolidayQueryOutDto">
        SELECT ch.*, GETDICTTEXT("HOLIDAY_TYPE",ch.HOLIDAY_TYPE) AS holidayTypeText, GETDICTTEXT("STATUS",ch.STATUS) AS statusText FROM china_holiday ch
        <where>
            <if test="condition.holidayType != null and condition.holidayType != ''">
                AND ch.holiday_type = #{condition.holidayType}
            </if>
            <if test="condition.holidayDate != null and condition.holidayDate != ''">
                AND ch.holiday_date = #{condition.holidayDate}
            </if>
            <if test="condition.remark != null and condition.remark != ''">
                AND ch.remark LIKE CONCAT('%',#{condition.remark},'%')
            </if>
            <if test="condition.status != null and condition.status != ''">
                AND ch.status = #{condition.status}
            </if>
        </where>
        ORDER BY ch.create_time desc
    </select>

</mapper>
