<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wz.cwolf.mapper.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wz.cwolf.entity.Dict">
        <id column="ID" property="id" />
        <result column="DICT_NAME" property="dictName" />
        <result column="DICT_CODE" property="dictCode" />
        <result column="DESCRIPTION" property="description" />
        <result column="STATUS" property="status" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>
    <select id="queryDict" resultType="com.wz.cwolf.dto.DictDto">
        SELECT d.*, getDictText('status',d.status) as status_text FROM dict d
        <where>
            <if test="condition.status != null and condition.status != ''">
                AND d.status = #{condition.status}
            </if>
            <if test="condition.dictCode != null and condition.dictCode != ''">
                AND d.dict_code = #{condition.dictCode}
            </if>
            <if test="condition.dictName != null and condition.dictName != ''">
                AND d.dict_name = #{condition.dictName}
            </if>
        </where>
    </select>

</mapper>
